<template>
    <div>
        <h1>Statement crud table</h1>
        <Button type="primary" @click="isAddModal=true">Add New Statement</Button>
        
       
       

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>bank_statement_id</th>
                <th>client_id</th>
                <th>konto_id</th>
                <th>debits</th>
                <th>credits</th>
                <th>description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,i) in listsItems" :key="i"  v-if="listsItems.length"> 
                <td>{{item.id}}</td>
                <td>{{item.bank_statement_id}}</td>
                <td>{{item.client_id}}</td>
                <td>{{item.konto_id}}</td>
                <td>{{item.debits}}</td>
                <td>{{item.credits}}</td>
                <td>{{item.description}}</td>
                <td>
                    <Button type="primary" @click="editModal(item)">Edit</Button>
                    <Button type="error" @click="deleteItem(item.id, i)">Delete</Button>
                </td>

                
            </tr>
            
            </tbody>
        </table>

        <!-- edit modal -->
        <Modal
            v-model ="isEdit"
            title="Edit record"
            :mask-closable="false"
            :closable="false"
            
            >

            <p v-for="(error , i) in editErrors" :key="i" class="error">{{error}}</p>



            
            
             <Select v-model="editingItem.client_id" filterable style="width:300px" placeholder="select client">
                    <Option v-for="item in clients" :value="item.client_id" :key="item.client_id">{{ item.name }}</Option>
            </Select>
            <Input v-model="editingItem.konto_id" placeholder="Enter something..." style="width: 300px" />
            <Input v-model="editingItem.debits" placeholder="Enter something..." style="width: 300px" />
            <Input v-model="editingItem.credits" placeholder="Enter something..." style="width: 300px" />
            <Input v-model="editingItem.description" placeholder="Enter something..." style="width: 300px" />
            

            <div slot="footer">
                <Button type="primary" @click="isEdit=false">Close</Button>
                <Button type="info" @click="update" :disabled="isUpdating">{{isUpdating ? 'Updating...' : 'Update'}}</Button>
            </div>
        </Modal>
        <!-- Add modal -->
        <Modal
            v-model ="isAddModal"
            title="Add record"
            :mask-closable="false"
            :closable="false"
            
            >

            <p v-for="(error , i) in addErrors" :key="i" class="error">{{error}}</p>



            
            <Select v-model="addData.client_id" style="width:300px" filterable placeholder="select client">
                    <Option v-for="item in clients" :value="item.client_id" :key="item.client_id">{{ item.name }}</Option>
            </Select>


            <Input v-model="addData.konto_id" placeholder="konto_id" style="width: 300px" />
            <Input v-model="addData.debits" placeholder="debits" style="width: 300px" />
            <Input v-model="addData.credits" placeholder="credits" style="width: 300px" />
            <Input v-model="addData.description" placeholder="description" style="width: 300px" />
            

            <div slot="footer">
                <Button type="primary" @click="isAddModal=false">Close</Button>
                <Button type="info" @click="create" :disabled="isCreating">{{isCreating ? 'Creating...' : 'Create'}}</Button>
            </div>
        </Modal>
       




    </div>

</template>


<script>
export default {

    data(){
        return {
            listsItems : [],
            isEdit: false, 
            isAddModal: false, 
            isUpdating: false, 
            isCreating: false, 
            editingItem : {}, 
            editErrors: [], 
            addErrors: [], 
            addData: {
                bank_statement_id: null, 
                client_id: null, 
                konto_id: null, 
                debits: null, 
                credits: null, 
                description: '', 
            }, 
            clients: [
                 {client_id : 1, name: 'Sadek'},
                 {client_id : 2, name: 'Monir'},
                 {client_id : 3, name: 'kollol'},
                 {client_id : 4, name: 'Amran'},
               
            ], 
           

        }
    },
    methods: {
        editModal(item){
            this.editingItem = item 
            this.isEdit = true
        }, 
       
        async update(){
            this.isUpdating = true
            const res = await this.callApi('post', 'updateStatement', this.editingItem)
            if(res.status==200){
                this.s(res.data.msg)
            }else{
                this.editErrors = res.data.error
            }
            this.isUpdating = false
        }, 
        async create(){
            this.addData.bank_statement_id = this.$route.query.bank_statement_id
            this.isCreating = true
            const res = await this.callApi('post', 'addStatement', this.addData)
            if(res.status==200){
                this.s(res.data.msg)
                this.listsItems.push(res.data.statement)
                this.addData = {}
                this.isAddModal = false
            }else{
                this.addErrors = res.data.error
            }
            this.isCreating = false
        }, 
        async deleteItem(id, i){
            if(!confirm('Are you sure you want to delete this record?')) return 
            const res = await this.callApi('post', 'deleteStatement', {id: id})
            if(res.status==200){
                this.s(res.data.msg)
                this.listsItems.splice(i,1)
            }else{
                this.s(res.data.msg)
            }
           
        }
    },
    
    async created(){
        
         const res = await this.callApi('get', 'getStatement');
         if(res.status==200){
             this.listsItems = res.data
         }
    }
}
</script>

<style scoped>
   .error{
       color: red;
   }
</style>

